* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/pexels-element-digital-1370295.jpeg);
  font-size: 2rem;
}

header, 
main,
footer {
  background-color: rgba(248, 245, 245, 0.8);
  margin: 50px 50px 0px 50px;
}

header {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
}

main {
  height: 600px;
  padding: 10px 20px 20px 20px;
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr;
}

.add {
  grid-column: 2/6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-button {
  width: 33%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.form {
  grid-row: 1/6;
  width: 250px;
  display: none;
}

#form {
  height: 100%;
  grid-row: 2/11;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 22px;
  padding-right: 20px;
}

#form > input {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

#form > label {
  padding-bottom: 5px;
}

.radios {
  font-size: 18px;
  margin-bottom: 18px;
}

#submit-button,
#add-button {
  margin-top: 10px;
  font-size: 18px;
  padding: 5px;
  background-color: green;
  color: white;
}

#library {
  grid-area: 2/2/6/6;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 150px);
  padding: 10px;
}

.book-card {
  width: auto;
  height: 150px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* display: none; */
}

.book-card > .title {
  font-size: 1.2rem;
}

footer {
  background-color: rgba(248, 245, 245, 0.8);
  font-size: 16px;
  margin-top: 40px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  padding: 5px;
}

